
/* Default */
[data-iw-component="dropdown"] {
}
[data-iw-component="dropdown-content"] {
  display: none;
}
[data-iw-component="dropdown-visual"] {
  opacity: 0;
  transition-duration: 1s;
}
[data-iw-component="dropdown-icon-plus"] {
  display: flex;
}
[data-iw-component="dropdown-icon-minus"] {
  display: none;
}

/* Open */
[data-iw-component="dropdown"][data-iw-dropdown-state="open"] {
  [data-iw-component="dropdown-content"] {
    display: flex;
  }
  [data-iw-component="dropdown-visual"] {
    opacity: 1;
  }
  [data-iw-component="dropdown-icon-plus"] {
    display: none;
  }
  [data-iw-component="dropdown-icon-minus"] {
    display: flex;
  }
}
